/* Limpar formatações padrão */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #A9BCF5;
}

/* Layout */

#cabeçalho {
	background: #5882FA;
	text-align: center;
	padding: 15px;
}

#menu, #logo {
	padding: 10px;
}

#principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagem {
	width: 660px;
	float: left;
}

#area-lateral {
	width: 240px;
	float: right;
}

.lateral {
	background: white;
	padding: 20px;
	margin-bottom: 20px;
}

.texto-lateral {
	font-size: 0.8em;
	padding: 5px;
}

.postagem {
	background: white;
	padding: 20px;
	margin-bottom: 20px;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #E0E6F8;
	margin-bottom: 10px;
}


/* formatações do menu */

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #BCA9F5;
}

a:hover {
	text-decoration: underline;
}

#cabeçalho a:link, #cabeçalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#cabeçalho a:hover {
	color: #BCA9F5;
	background: #FFF;
	text-decoration: none;
}

/* Formatações gerais */

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
	font-weight: bold;
}

h2 {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.imagens-historia {
	border: 5px solid #A9BCF5;
}
